p {
  display: inline-block;
  font-family: Roboto;
  font-size: 12px;
  margin: 0;
}

.google-search {
  text-align: center;
}

.text1 {
  display: inline-block;
  margin-right: 12px;
  background-color: rgba(0,0,0,0.15);
  padding: 12px
}

.text2 {
  background-color: rgba(0,0,0,0.15);
  padding: 12px;
}
.logo {
        width: 200px;
        height: 60px;
        object-fit: cover;  
        margin-top: 70px;
        margin-bottom: 25px;
        margin-left: 68px;
      }

      .searchbox {
        width: 300px;
        text-align: left;
        padding: 5px 10px;
        border-radius: 30px;
        box-shadow: 1px 3px 5px rgba(0,0,0,0.15);
        border: none;
        margin-bottom: 20px;
        margin-left: -240px;
        } 