.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: 1px solid gray;
}

.part1 {
  background-color: lightpink;
}

.part2 {
  background-color: lightpink;
}

body {
  margin: 0;
}