p {
  margin: 0;
  font-family: Arial;
}

.Pets {
  display: inline-block;
  margin-left: 15px;
  margin-top: 100px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.name {
  font-weight: 600;
  font-size: 15px;
  margin-left: 5px;
  margin-top: 5px;
}

.mutual-friends {
  font-size: 72%;
  margin-left: 5px;
  color: gray;
  display: inline-block;
  vertical-align: middle;
}

.profile-picture {
  width: 155px;
  height: 155px;
  object-fit: cover;
}

.add-friend {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 8px;
  background-color: rgb(34, 129, 224);
  border: none;
  padding: 7px 14px;
  border-radius: 5px;
  color: white;
  display: block;
  cursor: pointer;
  }

.platform {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 25px;
  margin-top: 8px;
  margin-left: 7.5px;
  vertical-align: middle;
  display: inline-block;
}  
